PREFIX=af07
#topic
NO_BELOW=5
NO_ABOVE=0.2
ARTICLE_MIN_TOKENS=100
MALLET_HOME=~/Eclipse-Projekte/Wikipedia-Cluster-Analysis/bin/mallet-2.0.8
NUM_TOPICS=50
NUM_ITERATIONS=10
calc() { awk "BEGIN{print $*}"; }
ALPHA=$(calc 50/$NUM_TOPICS)
CLUSTER_METHODS="kmeans aggl-avg"
CLUSTER_NUMS="100 150"
#community
CONTRIB_VALUES="one"
TOP_N_CONTRIBS=20
COAUTH_MODES="mul"
COMM_METHODS="louvain"
#USE_GIANT_COMP=y
CONSIDER_ONLY_COMMUNITIES="giant"
#comparison
BEST_CLUSTER_METHODS="kmeans aggl-avg" # parallel arrays
BEST_CLUSTER_NUMS="100 100"
BEST_COMM_CONTRIBS="one" # parallel arrays
BEST_COMM_COAUTHS="mul"
BEST_COMM_METHODS="louvain"