PREFIX=simple-collection
DEBUG=DEBUG
# topic
NO_BELOW=1
NO_ABOVE=1
ARTICLE_MIN_TOKENS=1
PASSES=10
#TOPIC_MODELS="lda at"
TOPIC_MODELS="lda"
NUM_TOPICS=3
#calc() { awk "BEGIN{print $*}"; } 
#ALPHA=$(calc 50/$NUM_TOPICS)
#BETA=0.01
ALPHA=0.5
BETA=0.5
CLUSTER_METHODS="kmeans aggl-ward aggl-avg"
CLUSTER_NUMS="2 3"
# community
TOP_N_CONTRIBS=3
KEEP_MAX_EDGES=100
USE_GIANT_COMP=n
