PREFIX=simple-collection
DEBUG=DEBUG
# topic
NO_BELOW=1
NO_ABOVE=1
ARTICLE_MIN_TOKENS=1
PASSES=10
#TOPIC_MODELS="lda at"
TOPIC_MODELS="lda"
NUM_TOPICS=3
ALPHA=0.5
BETA=0.5
CLUSTER_METHODS="kmeans aggl-ward aggl-avg aggl-compl"
CLUSTER_NUMS="2 3"
# community
CONTRIB_VALUES="one diff_numterms"
TOP_N_CONTRIBS=3
COAUTH_MODES="mul jac coll"
KEEP_MAX_EDGES=100
COMM_METHODS="greedy louvain"
USE_GIANT_COMP=n
#comparison
COMP_MEASURES="adjusted-rand fowlkes-mallows adjusted-mutual-info"
