PREFIX=sw11
#topic
NO_BELOW=5
NO_ABOVE=0.2
ARTICLE_MIN_TOKENS=50
PASSES=10
TOPIC_MODELS="lda"
NUM_TOPICS=200
calc() { awk "BEGIN{print $*}"; } 
ALPHA=$(calc 50/$NUM_TOPICS)
BETA=0.01
CLUSTER_METHODS="kmeans"
#CLUSTER_METHODS="kmeans aggl-avg aggl-ward"
#CLUSTER_METHODS="aggl-avg aggl-ward"
CLUSTER_NUMS="50 75 100 200 300"
#community
CONTRIB_VALUES="one diff_numterms"
TOP_N_CONTRIBS=100
COAUTH_MODES="mul jac coll"
#COAUTH_MODES="mul"
KEEP_MAX_EDGES=100000000 # funzt eig auch ohne ganz gut
COMM_METHODS="louvain"
USE_GIANT_COMP=y
#comparison
COMP_MEASURES="adjusted-rand fowlkes-mallows adjusted-mutual-info normalized-mutual-info"