PREFIX=sw11
#topic
NO_BELOW=5
NO_ABOVE=0.2
ARTICLE_MIN_TOKENS=100
MALLET_HOME=~/Eclipse-Projekte/Wikipedia-Cluster-Analysis/bin/mallet-2.0.8
NUM_TOPICS=300
NUM_ITERATIONS=1000
calc() { awk "BEGIN{print $*}"; }
ALPHA=$(calc 50/$NUM_TOPICS)
CLUSTER_METHODS="aggl-avg-cos aggl-avg kmeans"
CLUSTER_NUMS="25 50 75 100 125 150 175 200 225 250 275 300 325 350 375 400"
#community
CONTRIB_VALUES="one diff_numterms"
TOP_N_CONTRIBS=100
COAUTH_MODES="dot mul jac"
#COAUTH_MODES="mul"
COMM_METHODS="greedy louvain"
CONSIDER_ONLY_COMMUNITIES="non-singleton"
#comparison
BEST_CLUSTER_METHODS="kmeans aggl-avg aggl-avg-cos" # parallel arrays
BEST_CLUSTER_NUMS="250 300 300"
BEST_COMM_CONTRIBS="one one one diff_numterms diff_numterms diff_numterms" # parallel arrays
BEST_COMM_COAUTHS="mul jac dot mul jac dot"
BEST_COMM_METHODS="louvain louvain louvain louvain louvain louvain"

